.movie-card {
  border-radius: 5px;
  overflow: clip;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 18rem;
  min-width: 150px;
  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}
.movie-card__info {
  margin-top: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
