.genre-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.genre-item {
  background-color: var(--darker-blue);
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  &.active {
    background-color: var(--blue-bg);
  }
}
