.user-details {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.user-content {
  background-color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.selection {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;

  background-color: var(--darker-blue);
}
.selection-item {
  color: white;
  cursor: pointer;
  h3 {
    color: white;
  }
  &.active {
    border-bottom: 2px solid var(--blue-bg);
  }
}
.user-info {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.info-item {
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
