.favorite-shows {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 100vh;
}
.favorites-gird {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.card-container {
  position: relative;
}
.card-container__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--blue-bg);
  border: none;
  padding: 0.3rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.pagination {
  margin-top: auto;
}
