.show-info {
  display: flex;
  gap: 2rem;
  background-color: white;
  width: 100%;
}
.show-info__image {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .show-info {
    flex-direction: column;
  }
  .info {
    padding: 0.5rem;
  }
}
