.season-card {
  width: 8rem;
  cursor: pointer;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.season-card__info {
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2rem;
  color: white;
  z-index: 99;
  font-weight: bold;
}
