.movie-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.movies-gird {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.filters {
  margin-top: 2rem;
}
.selects {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.select-item {
  display: flex;
  gap: 0.5rem;
  background-color: var(--darker-blue);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  width: max-content;
  font-size: 18px;
}
.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  font-size: 18px;
  margin-bottom: 1rem;
  margin-top: auto;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 0.1rem 0.5rem;
  a {
    cursor: pointer;
  }
}
.active-page {
  background-color: black;
  color: white;
  font-weight: 600;
}
.previous,
.next {
  align-self: center;
  font-size: 25px;
  cursor: pointer;
  &.disableButton {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }

  .selects {
    flex-direction: column;
  }
}
