.person-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.top {
  display: flex;
  gap: 2rem;
  background-color: white;
}

.person-image {
  flex: 1;

  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}

.person-details__info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.info-item {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.biography {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .top {
    flex-direction: column;
  }
}
