.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}
.home-banner {
  margin-top: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  padding: 2rem;
  color: white;
  height: 18rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  gap: 1rem;
  h1 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: inherit;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--blue-bg);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
  }
}
.banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -5px;
  }
}

.home-navigation {
  display: flex;
  align-self: center;
}

.popular-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
.popular-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation-div {
  background-color: var(--darker-blue);
  padding: 0.3rem 1rem;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &.active {
    background-color: var(--blue-bg);
  }
}
.popular-items__container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  height: max-content;
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #ffffff;

  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 8px;
    border: 3px solid #ffffff;
  }
}
@media only screen and (max-width: 600px) {
  .popular-navigation {
    flex-direction: column;

    align-items: flex-start;
  }
}
