.movie-info {
  display: flex;
  gap: 2rem;
  background-color: white;
}
.movie-info__image {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.favorite-button {
  width: max-content;
  background-color: var(--blue-bg);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .movie-info {
    flex-direction: column;
  }
}
