.similar-movies {
  background-color: white;
  padding: 1rem;
}
.similar-movies__gird {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
