.movie-credits {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  gap: 1rem;
}
.credits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

.credits__container {
  display: flex;
  gap: 8rem;
}
.cast-card {
  width: max-content;
  cursor: pointer;
  margin-bottom: 5px;
  &:hover {
    border-bottom: 1px solid black;
  }
}

@media only screen and (max-width: 600px) {
  .credits__container {
    flex-direction: column;
    gap: 1rem;
  }
}
