.navbar {
  display: flex;
  padding: 1rem;
  width: 100%;
  background-color: var(--darker-blue);
  color: white;
  justify-content: center;
}
.navbar__container {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 80%;
}
.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
}
.navigation {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 2rem;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: 600;
    &:hover {
      border-bottom: 3px solid var(--blue-bg);
    }
  }
}

.user-login {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  padding: 0.3rem 1rem;
  position: relative;
  cursor: pointer;
  border: 3px solid var(--blue-bg);
  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
}
.active-link {
  border-bottom: 3px solid var(--blue-bg);
}
.hamburger-button {
  margin-left: auto;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  display: none;
}
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar__container {
    width: 95%;
  }
  .navigation {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
}
