.search {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;

  input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    padding: 0.5rem;
    font-size: 18px;
  }
}

.previous,
.next {
  align-self: center;
  font-size: 25px;
  cursor: pointer;
  &.disableButton {
    cursor: not-allowed;
    opacity: 0.2;
  }
}
.search-gird {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
