* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}
:root {
  --main-bg-color: rgb(241, 240, 240);
  --blue-bg: #007fff;
  --darker-blue: rgb(49, 56, 78);
}

body {
  background-color: var(--main-bg-color);
}

h1,
h4,
h2 {
  color: var(--darker-blue);
}
