.not-fount {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  h1 {
    font-size: 80px;
  }
  button {
    background-color: var(--blue-bg);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .not-fount {
    h1 {
      font-size: 50px;
    }
  }
}
