.season-details {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.top-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}
.season-image {
  flex: 1;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 30rem;
  }
}
.season-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.season-episodes {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .top-section {
    flex-direction: column;
  }
}
