.user-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--darker-blue);
  font-size: 16px;
  padding: 1rem;
  top: 60px;
  width: max-content;
  font-weight: bold;
  right: 0;
  gap: 0.5rem;
  z-index: 99;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid var(--blue-bg);
    margin-top: 10px;
    padding: 0.3rem 0.5rem;
    width: max-content;
    align-self: center;
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    &:hover {
      border-bottom: 1px solid var(--blue-bg);
    }
  }
}
