.media-card {
  border-radius: 5px;
  overflow: clip;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}
.media-card__info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
