.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outlet-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  min-height: 100vh;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
